@page {
  margin-top: 0;
}
@media print {
  body * {
    visibility: hidden; /* Hide all content */
  }
  @page {
    margin-bottom: 0;
  }
  body {
    margin: 0;
  }
  #invoice,
  #invoice * {
    visibility: visible; /* Show only the invoice section */
  }
  #invoice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
